*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
 
  --off-white:hsl(30, 60%, 85%);
  --card-border:hsl(30, 00%, 65%);
 
}
* {
  /* border:1px solid white; */
}
body {
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
   background:url(images/nepal.jpg);
   
   background-size:cover;
   background-position: bottom center;
   backdrop-filter: brightness(60%);
  min-height:100vh;
  color:var(--off-white);
  
   font-family:'rubik', Arial, Helvetica, sans-serif;


}


.main-section{
  padding:2rem 2rem 0 2rem;

    display:flex;
    flex-grow:1;
    
}



#location-input {
  background-color:transparent;
  border:none;
  padding:0.25rem;
  color:var(--off-white);
  font-size:1.125rem;
  border-bottom:1px solid white;
}

#location-input::placeholder{
  color:var(--off-white);
  opacity:0.8;
}

#location-input:focus {
  outline:none;
}
#search-btn {
  background-color:transparent;
  color:var(--med-two);
  border:none;
}

.row {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  width:100%;
}

#search-btn:hover {
  cursor:pointer;
}
.one {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  width:60%;
  position:relative;
  
}



.text-info {
  padding:0.5rem 1rem 1rem 1.25rem;
  display:flex;
  flex-direction:column;
   align-items:flex-start;
   gap:10px;
   width:50%;
   border-left:2px solid var(--card-border);
   
 
}


#current-conditions-img{
  height:120px;
 width:90%;
 
 
}

#current-conditions-img svg {
  height:100%;
  width:100%;
}

.two {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:40%;
    padding-top:2rem;
    /* padding-right:2rem; */
    gap:2rem;

}




#location {
  font-size:1rem;
  font-weight:600;
  /* color:var(--med-two); */
}

.hide {
  display:none;
}
.show {
  display:block;
}
#location, #forecast-info {
  width: 100%;
 
  text-wrap:wrap;
}

#date-info, #time-info {
  font-weight:400;
  font-size:1rem;
}

#forecast-info {
  font-size:3rem;
  font-weight:600;  
}

#temperature {
  font-size:2rem;
  font-weight:600;
}


#future-forecast {
  /* color:var(--med); */
  flex-grow:1;
  /* margin-bottom:2.5rem; */
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  width:80%;
  margin: auto;
  min-height:50%;
  
}

.day-box {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
 
  
  padding:1rem 2rem;
  border-radius:15px;
  width:15%;
  box-shadow:inset 0px 0px 5px rgba(167, 165, 165, 0.493);
  backdrop-filter:rgba
  
}

.day-name {
  font-size:1.125rem;
  font-weight:600;
}


.day-icon svg {

  width:50px;
  height:50px;
}

.day-high-temp {
  font-size:1.75rem;
  font-weight:600;
}

.day-low-temp{
  font-weight:500;
}


.right-side-info {
  display:flex;
  gap:0.5rem;
  align-items:flex-end;
  width:250px;
  gap:1.25rem;
}

.right-side-icon {
  height:40px;
  width:auto;
}

.right-svg {
  height:100%;
  width:100%;
  fill:var(--off-white);
}

.main-info {
  font-weight:600;
  font-size:1.5rem;
}

.secondary {
  font-size:0.825rem;
  align-self:flex-start;
  margin-bottom:0.5rem;
}


.column {
  display:flex;
  flex-direction: column;
  align-items:center;

}

@font-face {
  font-family: 'rubik';
  src: url(fonts/Rubik-VariableFont_wght.ttf);
}