*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
 
  --off-white:hsl(30, 60%, 85%);
  --card-border:hsl(30, 00%, 65%);
 
}


body {
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
   background:url(images/nepal.jpg);
   background-size:cover;
   background-position: bottom center;
   backdrop-filter: brightness(60%);
   min-height:100vh;
   color:var(--off-white);
   font-family:'rubik', Arial, Helvetica, sans-serif;


}


.main-section{
  padding:2rem 2rem 0 2rem;
  display:flex;
  flex-grow:1; 
}




.one {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  width:60%;
  position:relative;
  
}



.text-info {
  padding:0.5rem 1rem 1rem 1.25rem;
  display:flex;
  flex-direction:column;
   align-items:flex-start;
   gap:10px;
   width:50%;
   border-left:2px solid var(--card-border);
}



#location {
  font-size:1rem;
  font-weight:500;
}


#location, #forecast-info {
  width: 100%;
 
  text-wrap:wrap;
}

#date-info, #time-info {
  font-weight:400;
  font-size:1rem;
}

#forecast-info {
  font-size:1.5rem;
  font-weight:500;  
}

#temperature {
  font-size:1.25rem;
  font-weight:500;
}

#location-input {
  background-color:transparent;
  border:none;
  padding:0.25rem;
  color:var(--off-white);
  font-size:1.125rem;
  border-bottom:1px solid white;
}

#location-input::placeholder{
  color:var(--off-white);
  opacity:0.8;
}

#location-input:focus {
  outline:none;
}
#search-btn {
  background-color:transparent;
  color:var(--med-two);
  border:none;
}


#search-btn:hover {
  cursor:pointer;
}



.row {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  width:100%;
}

#current-conditions-img{
  height:80px;
 width:90%;
 
 
}

#current-conditions-img svg {
  height:100%;
  width:100%;
}

.two {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:40%;
    padding-top:2rem;
    gap:2rem;

}





.right-side-info {
  display:flex;
  gap:0.5rem;
  align-items:center;
  width:250px;
  gap:1.25rem;
}

.right-side-icon {
  height:30px;
  width:auto;
}

.right-svg {
  height:100%;
  width:100%;
  fill:var(--off-white);
}


 .main-info {
  font-size:1.25rem;
}
.secondary {
  font-size:0.825rem;
  align-self:flex-start;
  margin-bottom:0.5rem;
}



#forecast {
  flex-grow:1;
  margin:2rem;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
  width:80%;
  margin: auto;
  min-height:50%;
  
}

.day-box {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
 align-items:center;
  
  padding:1rem 2rem;
  border-radius:15px;
  width:15%;
  box-shadow:inset 0px 0px 5px rgba(167, 165, 165, 0.493);
  
  
}

.day-name {
  font-size:1.25rem;
  font-weight:500;
  align-self:center;
}

.day-icon {
  align-self:center;
}

.day-icon svg {

  width:35px;
  height:35px;
}

.day-high-temp {
  font-size:1.5rem;
  font-weight:400;
}

.day-low-temp{
  font-size:1rem;
  font-weight:400;
}



.column {
  display:flex;
  flex-direction: column;
  align-items:center;

}

.hide {
  visibility: hidden;
}

.show {
  visibility:visible;
}

#error-box{
  font-size:2rem;
  font-weight:500;
  margin:auto;

}

@font-face {
  font-family: 'rubik';
  src: url(fonts/Rubik-VariableFont_wght.ttf);
}